/* primo esercizio */
.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}

/* secondo esercizio */
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* terzo esercizio */
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* quarto esercizio */
.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}
/* esercizio */
.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(2);}


.ex-5-square:active {
    transform: scale(.5);
}
/* esercizio */
.ex-6-img:hover {
    filter: grayscale(100%);}

/* esercizio  dopio effettp bianco e nero e invert al 75% 
da documentazione https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/

.ex-7-img {
        transition: 4s;
    }
.ex-7-img:hover {
        filter: grayscale(100%) invert(75%);}

/* esercizio */

.ex-8-img {
    transition: 4s;
}
.ex-8-img:hover {
    border-radius: 50px;
    filter: blur(5px) sepia(1);}

    /* esercizio */

.ex-9-img {
    transition: 2s;
    }
.ex-9-img:hover {
    filter: grayscale(50%) brightness(2);
    border-radius: 25%;
    transform: scale(1.2);}

/* Esercizi sulla rotazione */