/* primo esercizio */
.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}

/* secondo esercizio */
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* terzo esercizio */
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* quarto esercizio */
.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}
/* esercizio */
.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(2);}


.ex-5-square:active {
    transform: scale(.5);
}
/* esercizio */
.ex-6-img:hover {
    filter: grayscale(100%);}

/* esercizio  dopio effettp bianco e nero e invert al 75% 
da documentazione https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/

.ex-7-img {
        transition: 4s;
    }
.ex-7-img:hover {
        filter: grayscale(100%) invert(75%);}

/* esercizio */

.ex-8-img {
    transition: 4s;
}
.ex-8-img:hover {
    border-radius: 50px;
    filter: blur(5px) sepia(1);}

    /* esercizio */

.ex-9-img {
    transition: 2s;
    }
.ex-9-img:hover {
    filter: grayscale(50%) brightness(2);
    border-radius: 25%;
    transform: scale(1.2);}

/* Esercizi sulla rotazione */

.ex-10-icon {
    animation: cerchio 1s linear infinite;

}

@keyframes cerchio { 
    from {transform: rotateZ(0deg) }
  to {
    transform: rotateZ(360deg)
  }}

  /* Esercizi sulla rotazione */

  .ex-11-icon {
    animation: cerchio-secondo 4s linear infinite;

}

@keyframes cerchio-secondo { 
   0% {transform: rotateZ(0deg) }
  75% {transform: rotateZ(270deg)}
  100%{transform: rotateZ(0deg)}

}

/* Esercizi sui quadrati che ruotano */

.ex-12-button:hover .ex-12-top-white {
    animation: topquadrato 3s linear;
}
@keyframes topquadrato {
    0% {left: 5%;}
    25%{ left: calc(50% ); }
    50% {left: calc(100% - 60px); }
    75%{ left: calc(50% ); }
    100% {left: 5%;}
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: buttomquadrato 3s linear;
}
@keyframes buttomquadrato {
    0% {right: 5%;}
    25%{ right: calc(50% ); }
    50% {right: calc(100% - 60px); }
    75%{ right: calc(50% ); }
    100% {right: 5%;}
}

/* Esercizi sui quadrati che ruotano */

.ex-13-button:hover .ex-13-top-white {
    animation: topquadrato_secondo 2s linear infinite; }

@keyframes topquadrato_secondo { 
    0% {left: 5%;}
    25% {left: calc(100% - 30px);
        top: -10px;}
    50% {left: calc(100% - 30px);
        top: 100%;}
    75% {left: 0;
        top: 100%;}
    90% {left: -10px;
        top: -10px;}
    100% {left: 5%;}
}


.ex-13-button:hover .ex-13-bottom-white {
    animation: bottomquadrato_secondo 2s linear infinite; }

@keyframes bottomquadrato_secondo  { 
    0% {right: 5%;}
    25% {right: calc(100% - 30px);
        bottom:-10px;}
    50% {right: calc(100% - 30px);
        bottom: 100%;}
    75% {right: 0;
        bottom: 100%;}
    90% {right: -10px;
        bottom: -10px;}
    100% {right: 5%;}
}

/* I due quadrati bianchi sono speculari */